.footer {
  position: relative;
  background:
    url("../imagens/je/bg-overlay-azul.png") repeat scroll 0 0,
    url("../imagens/je/bg-fachada-tse.png") no-repeat scroll 0 0;
	background-size: cover;
	height: auto;
	color: #FFF;
	padding-top: 40px;
  padding-bottom: 50px;
  padding-left: 0;
  padding-right: 0;

  &::before{
    content: "";
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 100%;
    background-color: #ffda59;
  }

  &-logo {
    @include make-col-ready();
    @include media-breakpoint-up(lg) {
      @include make-col(12);
    }

    img {
      max-width: 100px;
    }
  }
}


