$font-destaque: 'Merriweather', sans-serif;
$font-geral: 'Roboto', sans-serif;
$font-title: 'Open Sans', sans-serif;

$body-bg:#ECECEC;
$primary: #47C77D;
$text-color: #6B6B6B;
$title-color: #1B305A;
$vermelho: #EA505C;
$bg-block: #fff;

$border-color: rgba(0, 0, 0, 0.125);
